server:
  port: 8081

spring:
  application:
    name: DataAgent
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/data_agent
    username: postgres
    password: postgres
  ai:
    dashscope:
      api-key: ${ALIYUN_AI_API_KEY}
      base-url: https://dashscope.aliyuncs.com/
      chat:
        options:
          model: qwen3-coder-plus
          temperature: 0.1
          enable-thinking: false


# MyBatis-Plus configuration
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleteFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
  mapper-locations: classpath:mapper/*.xml

